@import "./normalize.css";

/* Global variables*/

:root {
  --color-body: #ced5de;
}

/* Universal Selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}
h1,
h2 {
  margin-bottom: 1rem;
  line-height: 1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

/* Components 
---------------- */
